body {
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    image-resolution: 1920px;
    background-image: url(images/backing2.jpg);
}

.Banner {
    background-color: rgba(180, 174, 174, 0.75);
    margin: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(255, 251, 251);
    padding: 8px;
    border-style: solid;
    border-bottom-width: 5px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3oda1YUjH5fqPAt1K34KtR9B58O2YDtF7oyL8J_ZryZ7PlaT1D3HQ89W1g_VacMDEtds&usqp=CAU);
    padding-bottom: 8px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    overflow: hidden;
    position: relative;
    top: 110px;
    border-width: 2px;
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: background 0.8s, color 0.8s;
    position: relative;
    overflow: hidden;
    height: 60px;
}

.btn1, .btn2 {
    color: #3498db;
}

.btn3 {
    color: #fff;
}

}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
